<a href="https://colab.research.google.com/github/AtulAravindDas/FinVAR/blob/FinVAR-Atul/FinVAR_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.11/dist-packages (0.2.55)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.0.2)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.11/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from yfinance) (4.3.7)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.11/dist-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.11/dist-packages (from yfinance) (4.13.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (4.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (2025.1.31)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)

In [ ]:
import yfinance as yf

In [ ]:
user_input=input('Enter a stock ticker symbol: ')
ticker=yf.Ticker(user_input)
ticker_income_statement=ticker.financials
ticker_balance_sheet=ticker.balance_sheet
ticker_cash_flow=ticker.cashflow
ticker_income_statement

Enter a stock ticker symbol: DELL

,2025-01-31,2024-01-31,2023-01-31,2022-01-31,2021-01-31
Tax Effect Of Unusual Items,6110000.0,-26600000.0,-339885000.0,455504000.0,NaN
Tax Rate For Calcs,0.094,0.175,0.249,0.166,NaN
Normalized EBITDA,9520000000.0,9043000000.0,9027000000.0,9272000000.0,NaN
Total Unusual Items,65000000.0,-152000000.0,-1365000000.0,2744000000.0,NaN
Total Unusual Items Excluding Goodwill,65000000.0,-152000000.0,-1365000000.0,2744000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,4592000000.0,3388000000.0,2442000000.0,4798000000.0,NaN
Reconciled Depreciation,3123000000.0,3303000000.0,3156000000.0,4551000000.0,NaN
Reconciled Cost Of Revenue,74317000000.0,67356000000.0,79615000000.0,79306000000.0,NaN
EBITDA,9585000000.0,8891000000.0,7662000000.0,12016000000.0,NaN
EBIT,6462000000.0,5588000000.0,4506000000.0,7465000000.0,NaN
Net Interest Income,-1254000000.0,-1172000000.0,-1181000000.0,-1480000000.0,NaN
Interest Expense,1414000000.0,1501000000.0,1281000000.0,1542000000.0,NaN
Interest Income,160000000.0,329000000.0,100000000.0,62000000.0,NaN
Normalized Income,4533110000.0,3513400000.0,3467115000.0,2509504000.0,NaN
Net Income From Continuing And Discontinued Operation,4592000000.0,3388000000.0,2442000000.0,5563000000.0,NaN
Total Expenses,89330000000.0,83014000000.0,96530000000.0,96538000000.0,NaN
Total Operating Income As Reported,6237000000.0,5411000000.0,5771000000.0,4659000000.0,NaN
Diluted Average Shares,719749216.0,736000000.0,753000000.0,791000000.0,NaN
Basic Average Shares,696130464.0,720000000.0,734000000.0,762000000.0,NaN
Diluted EPS,6.38,4.6,3.24,7.02,NaN
Basic EPS,6.596465,4.71,3.33,7.02,NaN
Diluted NI Availto Com Stockholders,4592000000.0,3388000000.0,2442000000.0,5556000000.0,NaN
Average Dilution Earnings,NaN,0.0,0.0,-7000000.0,-13000000.0
Net Income Common Stockholders,4592000000.0,3388000000.0,2442000000.0,5563000000.0,NaN
Net Income,4592000000.0,3388000000.0,2442000000.0,5563000000.0,NaN
Minority Interests,16000000.0,16000000.0,20000000.0,-144000000.0,NaN
Net Income Including Noncontrolling Interests,4576000000.0,3372000000.0,2422000000.0,5707000000.0,NaN
Net Income Discontinuous Operations,NaN,0.0,0.0,765000000.0,1260000000.0
Net Income Continuous Operations,4576000000.0,3372000000.0,2422000000.0,4942000000.0,NaN
Tax Provision,472000000.0,715000000.0,803000000.0,981000000.0,NaN
Pretax Income,5048000000.0,4087000000.0,3225000000.0,5923000000.0,NaN
Other Income Expense,65000000.0,-152000000.0,-1365000000.0,2744000000.0,NaN
Other Non Operating Income Expenses,NaN,-44000000.0,-59000000.0,20000000.0,101000000.0
Special Income Charges,0.0,0.0,-894000000.0,2396000000.0,NaN
Gain On Sale Of Business,NaN,0.0,0.0,3968000000.0,458000000.0
Other Special Charges,NaN,-68000000.0,894000000.0,1572000000.0,158000000.0
Gain On Sale Of Security,65000000.0,-152000000.0,-471000000.0,348000000.0,NaN
Net Non Operating Interest Income Expense,-1254000000.0,-1172000000.0,-1181000000.0,-1480000000.0,NaN
Total Other Finance Cost,NaN,NaN,NaN,NaN,-406000000.0
Interest Expense Non Operating,1414000000.0,1501000000.0,1281000000.0,1542000000.0,NaN
Interest Income Non Operating,160000000.0,329000000.0,100000000.0,62000000.0,NaN
Operating Income,6237000000.0,5411000000.0,5771000000.0,4659000000.0,NaN
Operating Expense,15013000000.0,15658000000.0,16915000000.0,17232000000.0,NaN
Research And Development,3061000000.0,2801000000.0,2779000000.0,2577000000.0,NaN
Selling General And Administration,11952000000.0,12857000000.0,14136000000.0,14655000000.0,NaN
Gross Profit,21250000000.0,21069000000.0,22686000000.0,21891000000.0,NaN
Cost Of Revenue,74317000000.0,67356000000.0,79615000000.0,79306000000.0,NaN
Total Revenue,95567000000.0,88425000000.0,102301000000.0,101197000000.0,NaN
Operating Revenue,95567000000.0,88425000000.0,102301000000.0,101197000000.0,NaN

In [ ]:
ticker_balance_sheet

,2025-01-31,2024-01-31,2023-01-31,2022-01-31,2021-01-31
Treasury Shares Number,138000000.0,116000000.0,82000000.0,20000000.0,NaN
Ordinary Shares Number,696130464.0,706335200.0,716000000.0,757000000.0,NaN
Share Issued,834130464.0,822335200.0,798000000.0,777000000.0,NaN
Net Debt,20934000000.0,18628000000.0,20981000000.0,17477000000.0,NaN
Total Debt,24567000000.0,25994000000.0,29588000000.0,26954000000.0,NaN
...,...,...,...,...,...
Accounts Receivable,10298000000.0,9343000000.0,12482000000.0,12912000000.0,NaN
Allowance For Doubtful Accounts Receivable,-63000000.0,-71000000.0,-78000000.0,-90000000.0,NaN
Gross Accounts Receivable,10361000000.0,9414000000.0,12560000000.0,13002000000.0,NaN
Cash Cash Equivalents And Short Term Investments,3633000000.0,7366000000.0,8607000000.0,9477000000.0,NaN
Cash And Cash Equivalents,3633000000.0,7366000000.0,8607000000.0,9477000000.0,NaN

In [ ]:
ticker_cash_flow

,2025-01-31,2024-01-31,2023-01-31,2022-01-31,2021-01-31
Free Cash Flow,1869000000.0,5920000000.0,562000000.0,7511000000.0,NaN
Repurchase Of Capital Stock,-3165000000.0,-2452000000.0,-3281000000.0,-1838000000.0,NaN
Repayment Of Debt,-10570000000.0,-11246000000.0,-9825000000.0,-26723000000.0,NaN
Issuance Of Debt,9258000000.0,7775000000.0,12479000000.0,20425000000.0,NaN
Issuance Of Capital Stock,1000000.0,10000000.0,5000000.0,334000000.0,NaN
Capital Expenditure,-2652000000.0,-2756000000.0,-3003000000.0,-2796000000.0,NaN
Interest Paid Supplemental Data,1304000000.0,1438000000.0,1169000000.0,1825000000.0,NaN
Income Tax Paid Supplemental Data,555000000.0,1379000000.0,1208000000.0,1257000000.0,NaN
End Cash Position,3819000000.0,7507000000.0,8894000000.0,10082000000.0,NaN
Beginning Cash Position,7507000000.0,8894000000.0,10082000000.0,15184000000.0,NaN
Effect Of Exchange Rate Changes,-179000000.0,-186000000.0,-104000000.0,-106000000.0,NaN
Changes In Cash,-3509000000.0,-1201000000.0,-1084000000.0,-4996000000.0,NaN
Financing Cash Flow,-5815000000.0,-7094000000.0,-1625000000.0,-16609000000.0,NaN
Cash Flow From Continuing Financing Activities,-5815000000.0,-7094000000.0,-1625000000.0,-16609000000.0,NaN
Net Other Financing Charges,-64000000.0,-109000000.0,-39000000.0,-8807000000.0,NaN
Cash Dividends Paid,-1275000000.0,-1072000000.0,-964000000.0,0.0,NaN
Common Stock Dividend Paid,-1275000000.0,-1072000000.0,-964000000.0,0.0,NaN
Net Common Stock Issuance,-3164000000.0,-2442000000.0,-3276000000.0,-1504000000.0,NaN
Common Stock Payments,-3165000000.0,-2452000000.0,-3281000000.0,-1838000000.0,NaN
Common Stock Issuance,1000000.0,10000000.0,5000000.0,334000000.0,NaN
Net Issuance Payments Of Debt,-1312000000.0,-3471000000.0,2654000000.0,-6298000000.0,NaN
Net Long Term Debt Issuance,-1312000000.0,-3471000000.0,2654000000.0,-6298000000.0,NaN
Long Term Debt Payments,-10570000000.0,-11246000000.0,-9825000000.0,-26723000000.0,NaN
Long Term Debt Issuance,9258000000.0,7775000000.0,12479000000.0,20425000000.0,NaN
Investing Cash Flow,-2215000000.0,-2783000000.0,-3024000000.0,1306000000.0,NaN
Cash Flow From Continuing Investing Activities,-2215000000.0,-2783000000.0,-3024000000.0,1306000000.0,NaN
Net Other Investing Changes,180000000.0,45000000.0,41000000.0,62000000.0,NaN
Net Investment Purchase And Sale,257000000.0,54000000.0,8000000.0,99000000.0,NaN
Sale Of Investment,382000000.0,226000000.0,116000000.0,513000000.0,NaN
Purchase Of Investment,-125000000.0,-172000000.0,-108000000.0,-414000000.0,NaN
Net Business Purchase And Sale,0.0,-126000000.0,-70000000.0,3941000000.0,NaN
Sale Of Business,NaN,0.0,0.0,3957000000.0,2187000000.0
Purchase Of Business,0.0,-126000000.0,-70000000.0,-16000000.0,NaN
Capital Expenditure Reported,-2652000000.0,-2756000000.0,-3003000000.0,-2796000000.0,NaN
Operating Cash Flow,4521000000.0,8676000000.0,3565000000.0,10307000000.0,NaN
Cash Flow From Continuing Operating Activities,4521000000.0,8676000000.0,3565000000.0,10307000000.0,NaN
Change In Working Capital,-4208000000.0,605000000.0,-3188000000.0,1922000000.0,NaN
Change In Other Working Capital,-150000000.0,-3158000000.0,4831000000.0,1128000000.0,NaN
Change In Payables And Accrued Expense,1703000000.0,-498000000.0,-8546000000.0,5742000000.0,NaN
Change In Payable,1703000000.0,-498000000.0,-8546000000.0,5742000000.0,NaN
Change In Account Payable,1703000000.0,-498000000.0,-8546000000.0,5742000000.0,NaN
Change In Inventory,-3515000000.0,975000000.0,875000000.0,-2514000000.0,NaN
Change In Receivables,-2246000000.0,3286000000.0,-348000000.0,-2434000000.0,NaN
Changes In Account Receivables,-1295000000.0,2977000000.0,113000000.0,-2193000000.0,NaN
Other Non Cash Items,453000000.0,609000000.0,961000000.0,-3130000000.0,NaN
Stock Based Compensation,785000000.0,878000000.0,931000000.0,1622000000.0,NaN
Deferred Tax,-208000000.0,-91000000.0,-717000000.0,-365000000.0,NaN
Deferred Income Tax,-208000000.0,-91000000.0,-717000000.0,-365000000.0,NaN
Depreciation Amortization Depletion,3123000000.0,3303000000.0,3156000000.0,4551000000.0,NaN
Depreciation And Amortization,3123000000.0,3303000000.0,3156000000.0,4551000000.0,NaN
Net Income From Continuing Operations,4576000000.0,3372000000.0,2422000000.0,5707000000.0,NaN